.listItem {
    display: flex;
    justify-content: space-around
}

.employeeTableItem {
    display: flex; 
    margin-left: 10px;
    justify-content: flex-start;
    background-color: var(--primaryColor);
    border-color: var(--black);
    border-width:1px;
    border-style: solid;
}

.tableHeader {
    color: white;
}

.rowDisplay {
    display: flex
}

.clearButton {
    padding: 10px
}